[Unit]
Description=Connection poller for PostgreSQL.
After=syslog.target network.target

[Service]
Type=notify
ExecStart=/usr/bin/pgbouncer --quiet /etc/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=pgbouncer
Group=pgbouncer
RuntimeDirectory=pgbouncer
RuntimeDirectoryMode=0755
Restart=always

[Install]
WantedBy=multi-user.target
